<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{%block title%}To Do App {%endblock%}</title>

	<!-- Bootstrap -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>

	<!-- <h1>Hello Batch 278</h1> -->
	{% include "navbar.html"%}


	{% block content %}
	<!-- block denotes a placeholder -->

	{%endblock%}



<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>