{% if is_user_auth == False %}
	<h1>invalid user credential!</h1>
	<p>check if the username and password is correct</p>


{% else %}
	<h1>User password successfully updated!</h1>
	<p>the password has ben successfully updated</p>




{% endif%}