{%  extends 'base.html'%}



{% block title%} Register {%endblock%}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">


					{% if error == True %}
      		<p class="text-danger">Duplicate User</p>
      	{% endif %}

				<form action="{% url 'todolist:register' %}" method="POST">
                        {% csrf_token %}
                        	<h1 class="text-center">Registration</h1>
                        <div class="mb-3">
                            <label for="username">UserName: </label>
                            <input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="50" required>
                        </div>

                        <div class="mb-3">
                            <label for="firstname">Firstname: </label>
                            <input class="form-control" name="first_name"  value="{{ firstname }}" required>
                        </div>

                          <div class="mb-3">
                            <label for="lastname">Lastname: </label>
                            <input class="form-control" name="last_name" value="{{ lastname }}" required>
                        </div>

                          <div class="mb-3">
                            <label for="email">Email: </label>
                            <input class="form-control" name="email" value="{{ email }}" required>
                        </div>

                          <div class="mb-3">
                            <label for="password">Password: </label>
                            <input class="form-control" name="password" type="password" value="{{ password }}" required>
                        </div>

                          <div class="mb-3">
                            <label for="password1">Confirm Password: </label>
                            <input class="form-control" name="confirm_password" type="password" value="{{ password1 }}" required>
                        </div>

                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="Register">
                        </div>

                    </form>



			</div>
		</div>
	</div>








{% endblock %}