{% extends 'base.html' %}


{% block title %}Task{% endblock%}

{%block content%}
<div class="text-center mt-3">
<h1>{{task_name}}</h1>
<h3>Description:</h3>
<p>{{description}}</p>
<h3>Status:</h3>
<p>{{status}}</p>


<button class="btn btn-success mx-1">
<a class="text-decoration-none text-light" href="{% url 'todolist:update_task' id %}">Edit task</a>
</button>

<button class="btn btn-danger mx-1">
<a class="text-decoration-none text-light" href="{% url 'todolist:deletetask' id %}">Delete</a>
</button>

<button class="btn btn-warning mx-1">
<a class="text-decoration-none" href="{% url 'todolist:index'%}">Back</a>
</button>
</div>


{%endblock%}
<!-- <h1>{{task_name}}</h1>
<h3>Description:</h3>
<p>{{description}}</p>
<h3>Status:</h3>
<p>{{status}}</p>



<a href="{% url 'todolist:index'%}">Back to index page!</a> -->